body {
    text-align: center;
    background-color: #f4f3f3;
}

h1 {
    font-family: Newsreader;
    padding-bottom: 30px;
}

h2 {

}

label {

}

input {

}

textarea {
    border-radius: 16px;
    padding: 10px;
}

button {

}

#content {
    border: 2px solid rgb(27, 187, 27);
    padding: 25px;
    border-radius: 16px;
    margin: auto 300px auto 300px;
}

.recipeInsert {
    border: 2px solid gray;
    padding: 30px;
    border-radius: 16px;
    margin: 30px 200px 30px 200px;
}